{% extends "layout.html" %}
{% block body %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('  {{ url_for('static', filename='assets/img/home-bg.jpg') }}   ')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your posts from here.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Create a new post</p>
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="/create" method="post">
                                <div class="form-floating">
                                    <input class="form-control" id="title" name="title" type="text" placeholder="Title"/>
                                    <label for="title">Title</label>
                                    
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="subtitle" name="subtitle" type="text" placeholder="Subtitle" data-sb-validations="required" />
                                    <label for="subtitle">Subtitle</label>
                                    
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="slug" name="slug" type="text" placeholder="Slug" data-sb-validations="required" />
                                    <label for="slug">Slug</label>
                                    
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="img_file" name="img_file" type="text" placeholder="Image File" data-sb-validations="required" />
                                    <label for="img_file">Image File</label>
                                    
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="content" name="content" placeholder="Content" style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label for="content">Content</label>
                                </div>
                                <br />
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>

{% endblock %}